html {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #444444;
	color: #dddddd;
	font-family: 'Courier New', Courier, monospace;
	font-size: 120%;
}

body {
	background-color: #222222;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 10%;
	padding-right: 10%;
}

hr {
	margin: 60px;
}

table, th, tr, td {
	border: 2px solid #dddddd;
	/* border-collapse: collapse; */
}

table {
	width: 100%;
	height: 200px;
}

th, tr, td {
	text-align: center;
}

caption{
	text-align: left;
}

tr:nth-child(even) {
	background-color: #444444;
}

th {
	background-color: #222222;
}

tr:hover {
	background-color: #8b8b8b;
}

.spacing30 {
	border-spacing: 30px;
}

.padding10 {
	padding: 10;
}

.thWidth20 {
	width: 20%;
}

.trHeight20 {
	height: 20%;
}

.testbutton {
	background-color: #f44336 !important;
	color: white;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.testbutton:hover {
	background-color: red !important;
	color: white !important;
}