html {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #444444;
	color: #dddddd;
	font-family: 'Courier New', Courier, monospace;
	font-size: 120%;
}

body {
	background-color: #222222;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 10%;
	padding-right: 10%;
}

hr {
	margin: 60px;
}

table, th, tr, td {
	border: 2px solid #dddddd;
	border-collapse: collapse;
}

table {
	width: 100%;
	height: 200px;
}

.testTable th, .testTable tr, .testTable td {
	text-align: center;
}

caption{
	text-align: center;
}

.testTable tr:nth-child(even) {
	background-color: #444444;
}

.testTable th {
	background-color: #222222;
}

.testTable td:hover {
	background-color: #8b8b8b;
}

.spacing30 {
	border-spacing: 30px;
}

.padding10 {
	padding: 10;
}

.thWidth20 {
	width: 20%;
}

.thHeigth40px {
	height: 40px;
}

.trHeight20 {
	height: 20%;
}

.testbutton {
	background-color: #f44336 !important;
	color: white;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.testbutton:hover {
	background-color: red !important;
	color: white !important;
}

.horizontalTestUL {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333333; */
}

.horizontalTestLI {
	float: left;
	background-color: #333333;
}

.horizontalTestLI a {
	display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.horizontalTestLI a:hover {
	background-color: #111111;
}

.orderedListDIV {
	text-align: center;
}

.orderedListTest {
	text-align: left; 
	display: inline-block;
}